<%= form_for([@order.chat, @order, @extension_order]) do |form| %>
  <% if extension_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extension_order.errors.count, "error") %> prohibited this extension_order from being saved:</h2>

      <ul>
        <% extension_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= @order.date%>
  </div>

  <div class="field">
    <%= form.label :extension_date %>
    <%= form.date_select :extension_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
