<%= form_for([@order.chat, @order, @extension_order]) do |form| %>
  <% if extension_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extension_order.errors.count, "error") %> prohibited this extension_order from being saved:</h2>

      <ul>
        <% extension_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Fecha actual de la orden: <%= @order.date.strftime("%d/%m/%y")%>
  </div>

  <div class="form-group">
    <%= form.label 'Ingrese la fecha de prorroga' %>
    <%= form.date_select :extension_date, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Solicitar prorroga', class:'btn btn-info' %>
  </div>
<% end %>
