<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-xs-12">
            <h1>Listado de avances subidos</h1>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Etapa</th>
                    <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% @progresses.each do |progress|%>
                        <tr>
                            <th scope="row"><%= progress.id%></th>
                            <td><%= progress.user.name %></td>
                            <td><%= progress.stage %></td>
                            <td><%= link_to 'Ver detalle', progress%>
                                
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xs-12">
            <%= link_to 'Agregar un nuevo avance', new_progress_path, class:'btn btn-info' %>
        </div>
    </div>
</div>