<%= form_with(model: job_application, local: true) do |form| %>
  <% if job_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_application.errors.count, "error") %> prohibited this job_application from being saved:</h2>

      <ul>
        <% job_application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "seleccione al estudiante" %>
    <%= form.collection_select :user_id, @students, :id, :name, {selected: @job_application.user_id, include_blank: false, :prompt=>"Seleccione el estudiante"},class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label 'Seleccione al profesional o editor' %>
    <%= form.collection_select :professional_id, @professionals, :id, :name, {selected: @job_application.professional_id, include_blank: false, :prompt=>"Seleccione a un profesional o editor para el trabajo"},class:'form-control'%>
  </div>

  <div class="form-group">
    <% etapas = ['tema o titulo','plan o anteproyecto','tesis o equivalente']%>
    <%= form.label 'Etapa'%>
    <%= form.select(:stage, etapas, {:prompt => 'Indica la etapa en la que corresponde este avance'}, class:'form-control')%>
  </div>

  <div class="form-group">
    <%= form.label 'Estado'%>
    <% estados = ['pending', 'active', 'denied']%>
    <%= form.select(:status, estados, {:prompt => 'Seleccione el estado de la orden de trabajo'}, class:'form-control')%>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn btn-info'%>
  </div>
<% end %>
