<div class="container">
    
    <% if user_signed_in? %>
        <div class="row d-flex justify-content-center">
            <div class="col-xs-12 col-sm-10 col-md-12">
                <div class="alert alert-info">
                    <h2>Bienvenido <%= current_user.name %> a Specialized Professional Support</h2>
                </div>
            </div>
        </div>
        
        <% if current_user.rol == 'student' %>
            
            <% if current_user.progresses.count == 0 %>
                <div class="row d-flex justify-content-center card p-4">
                    <div class="col-xs-12">
                        <h3>Sube tus avances</h3>
                        <p>Sube tus avances para que podamos asiganarte un profesional</p>
                        <%= link_to 'Subir avances', new_progress_path, class: 'btn btn-info' %>
                    </div>
                </div>
            <% elsif current_user.job_applications.count == 0 %>
                <div class="row d-flex justify-content-center p-4 card mt-4">
                    <div class="col-xs-12">
                        <h3>Hemos recibido tu manual o guía</h3>
                        <p>En breve uno de nuestros profesionales te atenderá (este paso podría darse en un máximo de 1 día hábil)</p>
                    </div>
                </div>
            <% elsif current_user.job_applications.pending.count != 0 %>
                <div class="row d-flex justify-content-center p-4 card mt-4">
                    <div class="col-xs-12">
                        <h3>Hemos recibido tus avances</h3>
                        <p>Espera a que se te asigne un profesional para darle seguimiento a tu caso</p>
                    </div>
                </div>
            <% elsif current_user.job_applications.active.count != 0  %>
                <div class="row d-flex justify-content-center p-4 card mt-4">
                    <div class="col-xs-12">
                        <h3>Felicidades, se te ha asignado un profesional</h3>
                        <p>Haz click en el link y empieza a chatear con el profesional que llevara tu caso</p>
                        <%= link_to 'ir a sala de chat', chats_path %>
                    </div>
                </div>
            <% end %>
            
        <% elsif current_user.rol == 'professional' || current_user.rol == 'editor' %>
            <div class="row d-flex justify-content-center p-4 w-100 card">
                <div class="col-xs-12">
                    <h5>Solicitudes de trabajo pendientes</h5>
                    <% @jobs_pending.each do |job|%>
                        <div class="border-top mt-3 d-flex justify-content-around align-items-center">    
                            <div>
                                <%= job.user.name%>
                            </div>
                            <div>
                                <%= link_to 'Ver detalles', job.user.progresses.last%>
                            </div>
                            <div class="mt-1">
                                <%= link_to 'Acepta', job_application_path(job, status: "1"), method: :patch, class: 'btn btn-success' %>
                                <%= link_to 'Rechazar', job_application_path(job, status: "0"), method: :patch, class:'btn btn-danger' %>
                            </div>
                        </div>
                    <%end%>
                    
                </div>
            </div>

            <div class="row d-flex justify-content-center p-4 w-100 card mt-5">
                <div class="col-xs-12">
                    <h5>Solicitudes de trabajo activas</h5>
                    <% @jobs_active.each do |job|%>
                        <div class="border-top mt-3 d-flex justify-content-around align-items-baseline">    
                            <%= job.user.name%>
                            <%= link_to 'Ir al chat', chats_path%>
                            estado: 
                            <%= job.status%>
                        </div>
                    <%end%>
                </div>
            </div>

            
            <% if current_user.rol == "editor" %>
                <div class="row d-flex justify-content-center align-items-center p-4 w-100 card mt-5">
                    <div class="col-xs-12">
                        <h5>Trabajos asignados para revisar</h5>
                        <% @homework_reviews.each do |review|%>
                            <div class="border-top mt-3 d-flex justify-content-around align-items-baseline">    
                                <%= review.homework.user.name%>
                                <%= link_to 'Revisar', chat_path(review.homework.chat) %>
                            </div>
                        <%end%>
                    </div>
                </div>
            <% end %>
            
            
        <% elsif current_user.rol == "admin" %>
            <div class="row d-flex justify-content-around align-items-center">
                <div class="col-xs-12 col-md-6">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">Usuarios</h5>
                            <p class="card-text">Crea, edita y maneja todas las cuentas de la plataforma</p>
                            <%= link_to 'Ver más', users_path, class:'btn btn-info' %>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">Carreras</h5>
                            <p class="card-text">Crea, edita y maneja todas las carreras de la plataforma</p>
                            <%= link_to 'Ver más', careers_path, class:'btn btn-info' %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around align-items-center mt-3">
                <div class="col-xs-12 col-md-6">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">Pagos</h5>
                            <p class="card-text">Obten el reporte de pagos mensuales de la plataforma</p>
                            <%= link_to 'Ver más', payments_path, class:'btn btn-info' %>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">Todos los Chats</h5>
                            <p class="card-text">Manten en control todos las salas de chats</p>
                            <%= link_to 'Ver más', chats_path, class:'btn btn-info' %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around align-items-center mt-3">
                <div class="col-xs-12 col-md-6">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">Ordenes de trabajo</h5>
                            <p class="card-text">Ver, crear y modificar las ordenes de trabajo</p>
                            <%= link_to 'Ver más', job_applications_path, class:'btn btn-info' %>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">Chats Reportados</h5>
                            <p class="card-text">Revisa todos los chats que han sido reportados por los usuarios por anomalias en las condiciones de uso</p>
                            <%= link_to 'Ver más', reported_chats_path, class:'btn btn-info' %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% else %>
        
    <% end %>
    
</div>