<div class="alert alert-warning">
        <p style="font-size: 12px;">“Está terminantemente prohibido el intercambio de datos personales como nombre del cliente, número telefónico, correo electrónico y cualquier otro dato personal que ponga en riesgo la garantía de confidencialidad ofrecida por Utesis.com. En caso de violentarse esta disposición, Utesis.com tomará las medidas legales en contra del profesional y dará de baja el servicio para el cliente además de no responsabilizarse por problemas posteriores entre ambas partes”</p>
      </div>
<div class="container-fluid mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-md-2">
      <h3>Ordenes</h3>
      <% @chat.orders.each do |order|%>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nueva orden</h5>
            <p>resumen: <%= order.body.truncate(30)%></p>
            <p>fecha de entrega:<%= order.date.strftime("%d/%m/%y")%></p>
            <p>estado: <%= order.status %></p>
            <%= link_to 'ver detalles', chat_order_path(@chat, order), class: 'btn btn-info' %>
          </div>
        </div>
      <%end%>
    </div>
    <div class="col-xs-12 col-md-10">
      <% if @chat.user_id == current_user.id %>
        <div class="">
          <h5 class="text-center"><%= @chat.professional.name%></h5>
        </div>
      <% else %>
        <h5><%= @chat.user.name%></h5>
      <% end %>
      <%= link_to 'Crear orden', new_chat_order_path(@chat.id), class:'btn btn-info inline' %>
      <% @chat.messages.each do |message|%>
        <div class="card mt-4 <%= 'bg-dark text-white text-right' if message.user == current_user %>">
          <div class="card-body">
            <p class="card-subtitle text-muted" style="font-size:14px;">
              <%= message.user.name %>
              <%= message.created_at.strftime("%d-%m-%y")%>
            </p>
            <p class="card-text" style="font-size:18px;">
              <%= message.body%>
            </p>
          </div>
        </div>
      <%end%>
      </div>
      </div>
      <div class="row d-flex justify-content-center form-chat">
        <div class="col-xs-12">
          <%= render 'messages/form'%>
        </div>
      </div>
    </div>
  </div>
</div>
