<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-xs-12">
            <h1>Listado de usuarios con pago</h1>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Prestaciones</th>
                    <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% @usuarios.each do |usuario|%>
                        <tr>
                            <th scope="row"><%= usuario.id%></th>
                            <td><%= usuario.name %></td>
                            <td><%= usuario.email %></td>
                            <td><%= usuario.career.name%></td>
                            <td><%= usuario.rol%></td>
                            <td><%= usuario.mount%></td>
                            <td>
                                <%= link_to 'Ver usuario', usuario%>
                                <%= link_to 'Editar datos de pago', edit_user_path(usuario)%>
                            </td>
                        </tr>
                    <% end %>
                        <tr class="s">
                            <td class="" colspan="5">Total</td>
                            <td class="" colspan="2"><%= @total %></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xs-12">
            <%= link_to 'Crear nuevo usuario', new_user_path, class:'btn btn-info' %>
        </div>
    </div>
</div>